{% extends "base.html" %}
{% block content %}
<div class="container mt-3 p-3" style="margin-top: 0px;">
    <div class="mt-5" >
    <h1 style="color: #5F4B66;">About Guitar Island</h1>
    <br>
    <p style="font-size: 20px;">
        Welcome to Guitar Island, your ultimate destination
        for all kinds of guitars! Whether you're a seasoned musician,
        an aspiring guitarist, or simply a music enthusiast,
        we are here to provide you with the finest selection
        of guitars and accessories to fuel your passion.
    </p>
        <br>
    <h2 style="color: #5F4B66; margin-bottom: 15px;">Our Story</h2>
    <p style="font-size: 20px;">
        Guitar Island was born from a deep love for music and a
        dedication to the art of guitar playing. Founded by a group of avid guitarists,
        we understand the joy and satisfaction that comes from playing a beautifully crafted instrument.
        Our mission is to share that joy with you by offering high-quality guitars that inspire
        creativity and musical expression.
    </p>
    <div class="jumbotron" style="background-color: #5F4B66; color: white; padding-left: 40px; padding-top:40px; padding-bottom: 40px; margin-top: 30px; margin-bottom: 30px;">
    <div class="container">
        <h2 class="display-4">Find the perfect guitar for you.</h2>
        <h5 class="display-4" style="font-size: 30px; margin-top: 20px;">Guitar Island</h5>
    </div>
    </div>

    <h2 style="color: #5F4B66; margin-bottom: 15px;">What We Offer</h2>
    <p style="font-size: 20px;">
        At Guitar Island, we pride ourselves on our extensive range of guitars,
        from classic acoustics and electrics to basses and specialty instruments.
        Our curated collection features renowned brands and unique pieces that cater
        to all styles and skill levels.
    </p>
        <br>
    <h2 style="color: #5F4B66; margin-bottom: 15px;">Our Commitment</h2>
    <p style="font-size: 20px;">
        Quality and customer satisfaction are at the heart of everything we do.
        Every guitar we offer is carefully selected and inspected to ensure it
        meets our high standards. Our knowledgeable team is passionate about helping
        you find the perfect instrument, offering personalized advice and support
        throughout your shopping journey.
    </p>
        <br>
    <h2 style="color: #5F4B66; margin-bottom: 15px;">Why Choose Us?</h2>
    <ul>
        <li>
            <p style="font-size: 20px;">
                <strong>Variety:</strong> From beginners to professionals,
            we have guitars and accessories to suit
            every need and budget.
            </p>
        </li>
        <li>
            <p style="font-size: 20px;">
                <strong>Customer Service:</strong> We are dedicated to providing
            exceptional service, from answering your questions
            to ensuring timely delivery.
            </p>
        </li>
    </ul>
        <br>
    <h2 style="color: #5F4B66; margin-bottom: 15px;">Join Our Musical Journey</h2>
    <p style="font-size: 20px;">
        We invite you to explore Guitar Island and discover
        the perfect instrument that resonates with your musical soul.
        Whether you're strumming your first chord or performing on stage,
        we are here to support your journey every step of the way.
    </p>
    <br>
    <div class="jumbotron" style="background-color: #5F4B66; color: white; padding-left: 40px; padding-top:40px; padding-bottom: 40px;">
    <div class="container">
        <h2 class="display-4">Let's make beautiful music together!</h2>
        <h5 class="display-4" style="font-size: 30px; margin-top: 20px;">Guitar Island</h5>
    </div>
    </div>
    </div>
</div>

{% endblock %}